[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
mediapipe = "*"
numpy = "*"
pyaudio = "*"
librosa = "*"
pandas = "*"


[dev-packages]
mypy = "*"
flake8 = "*"
isort = "*"
black = "*"
autopep8 = "*"